.todo-container
  .todo-info-cont
    %h3.todo-title.title-text= todo.title 
    %span.todo-description= todo.description
  .spacer
  .todo-buttons-cont
    -# ++Q will change to check box later.
    .todo-complete.button
      -# I'd have prefered a better method using AJAX, JQuery, and forms but I was worried about time.
      - if todo.completed
        =link_to icon('fas', 'trash-restore'), complete_todo_path(todo), method: :put
      - else 
        =link_to icon('fas', 'check'), complete_todo_path(todo), method: :put

    .todo-delete.button
      =link_to icon('fas', 'trash'), todo_path(todo), method: :delete, data: { confirm: 'Are you sure you want to delete this todo?' }