/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

$font-stack:    Helvetica, sans-serif;
$primary-colour: #333;
$primary-bg-colour: #e8e8e8;
$secondary-bg-colour: #ffffff;
$normal-spacing: 25px;
$button-spacing: 10px;

html{
  background-color: $primary-bg-colour;
}

body {
  font: 100% $font-stack;
  color: $primary-colour;
  max-width: 1400px;
  margin: auto;
}

a {
  color: $primary-colour;
  text-decoration: none;
}

.list-container{
  background-color: $secondary-bg-colour;
  border-radius: $normal-spacing;
  padding: $normal-spacing;
  margin: $normal-spacing;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.5);
}

.list-info-button-cont{
  margin-left: $normal-spacing;
}

.button{
  padding: $button-spacing;
  margin: auto;
  // background-color: grey;
  border-radius: $button-spacing;
}

p, span, h1, h2, h3, h4, h5{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  // Taken from here: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.spacer{
  flex: 1 1 auto;
}
