// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-container{
  width: 750px;
  flex: 1 0 auto;
}

.list-info-cont, .list-info-button-cont{
  display: flex;
  flex-direction: row;
}
  .list-info-cont{
    justify-content: space-between;
  }

  .list-info-button-cont{
    align-items: center;
  }
