// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.todo-title{
  margin-bottom: 0;
}

.todo-outer-cont{
  padding-left: 20px;
}

.todo-container{
  border-bottom: 1px solid #808080;

  display: flex;
  flex-direction: row;
}

.todo-info-cont{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.todo-buttons-cont{
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
}