// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.todo-title{
  margin-bottom: 0;
}

.todo-outer-cont{
  padding-left: 20px;
}

.todo-list-container, .todo-container, .todo-info-cont, .todo-buttons-cont{
  display: flex;
}

.todo-list-container{
  flex-flow: wrap;
  justify-content: center;
}

.todo-container{
  border-bottom: 1px solid #808080;
  flex-direction: row;
}

.todo-info-cont{
  flex-direction: column;
}

.todo-buttons-cont{
  flex-direction: row;
  flex: 0 1 auto;
  margin-left: 25px;
}